@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//$submenu-bg-color: rgba(#0c1e35, 0.95);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$highlight-color: #EDF2F7;

@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.spinner {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    // display: none;
    :hover {
      opacity: 0.8;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .block {
    margin-bottom: 24px;
    > span {
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      opacity: 1;
      display: flex;
    }
  }

  @media (min-width: $breakpoint-md) {
    .btn-toggle {
      opacity: 0;
      display: none;
    }
  }
}

.content {
  margin-left: 2em;
  margin-right: 2em;
}

.collapse-button-sidebar {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.pro-icon {
  font-size: 1.5em;
}