@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//$submenu-bg-color: rgba(#0c1e35, 0.95);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$highlight-color: #EDF2F7;

@import '~react-pro-sidebar/dist/scss/styles.scss';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.spinner {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    // display: none;
    :hover {
      opacity: 0.8;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .block {
    margin-bottom: 24px;
    > span {
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      opacity: 1;
      display: flex;
    }
  }

  @media (min-width: $breakpoint-md) {
    .btn-toggle {
      opacity: 0;
      display: none;
    }
  }
}

.content {
  margin-left: 2em;
  margin-right: 2em;
}

.collapse-button-sidebar {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.pro-icon {
  font-size: 1.5em;
}


/*======================
    404 page
=======================*/

@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.terminal {
  position: relative;
  padding: 2rem;
}

.terminal .prompt {
  color: #1ff042;
  display: block;
  font-family: "AndaleMono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  margin-bottom: 0.75em;
}

.terminal .prompt:before {
  content: "> ";
  display: inline-block;
}

.terminal .new-output {
  display: inline-block;
}

.terminal .new-output:after {
  display: inline-block;
  vertical-align: -0.15em;
  width: 0.75em;
  height: 1em;
  margin-left: 5px;
  background: #1ff042;
  box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
  -webkit-animation: cursor-blink 1.25s steps(1) infinite;
  -moz-animation: cursor-blink 1.25s steps(1) infinite;
  animation: cursor-blink 1.25s steps(1) infinite;
  content: "";
}

.four-oh-four-form {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}

#gitHubLink {
  text-decoration: none;
}

#gitHubLinkButton {
  width: 100%;
}